@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div><input type="checkbox" name="cat_checkbox"/> CATALUNYA </div>
    <div><input type="checkbox" name="eus_checkbox"/> EUSKADI </div>
    <div><input type="checkbox" name="val_checkbox"/> COMUNITAT VALENCIANA </div>
</div>